[Unit]
Description=mediamtx service
After=network.target systemd-user-sessions.service
After=multi-user.target
After=dev-video0.device dev-video1.device
Requires=network.target

[Service]
ExecStart=</path/to/mediamtx>
Restart=always
User=<user>
WorkingDirectory=</home/user>

[Install]
WantedBy=multi-user.target
