[Unit]
Description=mediamtx service
After=network.target

[Service]
ExecStart=</path/to/mediamtx>
Restart=always
User=<user>
WorkingDirectory=</home/user>

[Install]
WantedBy=multi-user.target
